---
import { PHONE_NUMBER, EMAIL_ADDRESS } from "astro:env/server";

import Layout from "../layouts/Layout.astro";

import Position from "../components/Position.astro";
import Section from "../components/Section.astro";
import IconLink from "../components/IconLink.astro";
import ContactLink from "../components/ContactLink.astro";
import Org from "../components/Org.astro";

import "@fontsource/atkinson-hyperlegible";
---

<Layout>
    <header>
        <h1>Cass Fridkin</h1>
        <address>
            <IconLink href="https://linkedin.com/in/caass" icon="linkedin">
                caass
            </IconLink>
            <IconLink href="https://github.com/caass" icon="github">
                caass
            </IconLink>
            <ContactLink
                phoneNumber={PHONE_NUMBER}
                emailAddress={EMAIL_ADDRESS}
            />
        </address>
    </header>
    <main>
        <Section title="Experience">
            <Org
                name="Trace Machina"
                from={new Date(2024, 4)}
                to={new Date(2024, 9)}
            >
                <Position role="Software Developer">
                    <li>
                        Mentored junior developers to develop in-house Rust
                        expertise
                    </li>
                    <li>
                        Spiked and iterated on product ideas to streamline
                        customer adoption
                    </li>
                    <li>
                        Built custom integrations for seamless communication
                        with external services
                    </li>
                </Position>
            </Org>
            <Org
                name="Redjack"
                from={new Date(2023, 3)}
                to={new Date(2023, 11)}
            >
                <Position role="Senior Rust Engineer">
                    <li>
                        Re-architected final stage of multi-step data pipeline
                        to highlight action items
                    </li>
                    <li>
                        Refined serialized data format to save bandwidth during
                        transmission
                    </li>
                    <li>
                        Implemented asynchronous APIs for efficient and parallel
                        operations
                    </li>
                </Position>
            </Org>
            <Org
                name="Cloudflare"
                from={new Date(2021, 1)}
                to={new Date(2023, 1)}
            >
                <Position role="Systems Engineer, Workers Experiences">
                    <li>
                        Designed and built out bespoke build infrastructure for
                        multiple projects
                    </li>
                    <li>
                        Took on a mentorship role to both internal and external
                        contributors
                    </li>
                    <li>
                        Led design, implementation, and communication for
                        deprecation effort
                    </li>
                </Position>
                <Position role="Systems Engineer, Developer Productivity">
                    <li>
                        Spearheaded backwards-compatibility effort in major
                        software rewrite
                    </li>
                    <li>
                        Drove major product features to completion involving
                        multiple services
                    </li>
                    <li>
                        Provided support for multiple product areas across the
                        stack
                    </li>
                </Position>
            </Org>
            <Org name="Cheff" from={new Date(2020, 2)} to={new Date(2020, 5)}>
                <Position role="Frontend Engineer">
                    <li>
                        Refactored existing React/Typescript codebase to adapt
                        to client needs
                    </li>
                    <li>
                        Iterated quickly and effectively on product requirement
                        updates
                    </li>
                    <li>
                        Implemented features across Amazon Web Services backend
                        and UI
                    </li>
                </Position>
            </Org>
        </Section>
        <Section title="Education">
            <Org
                name="Georgia Institute of Technology"
                from={new Date(2017, 7)}
                to={new Date(2019, 4)}
            >
                <Position>
                    <li>
                        Led both Visualization and Platform teams in the Big
                        Data Club
                    </li>
                    <li>
                        Pioneered infrastructure partnership between Georgia
                        Tech and Google Cloud
                    </li>
                </Position>
            </Org>
        </Section>
        <Section title="Research">
            <Org
                name="Georgia Emerging Infections Program"
                from={new Date(2017, 5)}
                to={new Date(2018, 3)}
            >
                <Position>
                    <li>
                        Identified healthcare facilities with statistically
                        significant infection rates
                    </li>
                    <li>
                        Cleaned, merged, analyzed, and visualized data across
                        multiple domains
                    </li>
                    <li>
                        Presented findings as a closing speaker at the SHEA 2018
                        conference
                    </li>
                    <li>
                        Published in <span class="italic"
                            >Clinical Infectious Diseases</span
                        > (<IconLink
                            right
                            icon="square-arrow-out-up-right"
                            href="https://doi.org/10.1093/cid/ciz154"
                            target="_blank">10.1093</IconLink
                        >)
                    </li>
                </Position>
            </Org>
        </Section>
    </main>
</Layout>

<style>
    address {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }

    h1 {
        margin: 0;
    }

    .italic {
        font-style: italic;
    }
</style>
