---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
    icon: string;
    right?: true;
}

const { icon, right = false, ...props } = Astro.props;
---

<a {...props}>
    {
        right ? (
            <>
                <span>
                    <slot />
                </span>
                <Icon name={`lucide:${icon}`} />
            </>
        ) : (
            <>
                <Icon name={`lucide:${icon}`} />
                <span>
                    <slot />
                </span>
            </>
        )
    }
</a>

<style>
    a {
        color: inherit;

        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.2rem;
    }
</style>
