---
interface Props {
    role?: string;
}

const { role } = Astro.props;
---

<section>
    {role !== undefined ? <h4>{role}</h4> : null}
    <ul>
        <slot />
    </ul>
</section>

<style>
    h4 {
        margin: 0;
    }
    ul {
        margin: 0;
    }
</style>
