---
interface Props {
    category: string;
    longest?: boolean;
}

const { category, longest } = Astro.props;
---

<section>
    <h3>{category}</h3>
    <span><slot /></span>
</section>

<style>
    section {
        display: flex;
        align-items: baseline;
    }

    h3 {
        margin: 0;
    }
</style>
