---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
    category: string;
}

const { category, ...props } = Astro.props;
---

<section {...props}>
    <h3>{category}</h3>
    <span><slot /></span>
</section>

<style>
    section {
        display: grid;
        grid-column: category-start / items-end;
        grid-row: `${category}-start`;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;

        align-items: end;
    }

    h3 {
        margin: 0;
        margin-right: 1rem;
    }

    span {
    }
</style>
